@font-face {
    font-family: Twixer-Roobert;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-Regular.woff2') format("woff2"),url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-Regular.woff') format("woff")
}

@font-face {
    font-family: Twixer-Roobert;
    font-weight: 600;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-SemiBold.woff2') format("woff2"),url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-SemiBold.woff') format("woff")
}

@font-face {
    font-family: Twixer-Roobert;
    font-weight: 700;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-Bold.woff2') format("woff2"),url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-SemiBold.woff') format("woff")
}
.twixer-status-indicator{
    background-color: #1fbaed;
    border-radius: 9000px !important;
    position: relative !important;
    display: inline-block !important;
    height: 9px;
    width: 9px;

}

.channel-page{
    margin-left: 240px;
}
#mixer-side-nav{
    width: 240px;
    font-family: Twixer-Roobert,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    /*font-size: 62.5% !important;*/
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    background: #1f1f23;
}
.side-nav-header{
    margin: 5px 15px 0 10px;
    padding-top: .5rem;
}

.side-nav-header h5{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1;
}

/* =================== */
#live-channels .tw-inline-block {
    display: inline-block!important
}

#live-channels .tw-block {
    display: block!important
}
#live-channels .tw-full-width {
    width: 100%!important
}
#live-channels .tw-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
#live-channels .tw-flex {
    display: flex!important
}
#live-channels .tw-flex-nowrap {
    flex-wrap: nowrap!important
}
#live-channels .tw-align-items-center {
    align-items: center!important
}
#live-channels .tw-justify-content-between {
    justify-content: space-between!important
}
#live-channels .tw-flex-grow-1 {
    flex-grow: 1!important
}
#live-channels .tw-flex-shrink-0 {
    flex-shrink: 0!important
}
#live-channels .tw-relative {
    position: relative!important
}
#live-channels .tw-pd-r-05 {
    padding-right: .5rem!important
}
#live-channels .tw-pd-y-05 {
    padding-bottom: .5rem!important;
    padding-top: .5rem!important
}
#live-channels .tw-pd-x-1 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
#live-channels .tw-mg-l-05 {
    margin-left: .5rem!important
}

#live-channels .tw-mg-l-1 {
    margin-left: 1rem!important
}
#live-channels .tw-font-size-5 {
    font-size: 14px!important
}

#live-channels .tw-font-size-6 {
    font-size: 12px!important
}
#live-channels .tw-border-radius-rounded {
    border-radius: 100%!important;
}


#live-channels .tw-line-height-heading {
    line-height: 1.2!important
}
#live-channels .tw-semibold,#live-channels .tw-strong {
    font-weight: 600!important
}
/*#live-channels .tw-avatar {*/
/*    background-color: inherit;*/
/*    position: relative*/
/*}*/
#live-channels .tw-avatar--size-30 {
    height: 30px;
    width: 30px;
}
#live-channels .tw-image-avatar {
    width: 100%
}
/*#live-channels .tw-link {*/
/*    color: #772ce8;*/
/*    text-decoration: none*/
/*}*/
/*#live-channels .tw-link:visited {*/
/*    color: #9147ff;*/
/*}*/
/*#live-channels .tw-transition {*/
/*    transition-property: none*/
/*}*/
/*#live-channels .tw-transition--duration-medium {*/
/*    transition-duration: .25s!important*/
/*}*/
/*.root,body,html {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*    position: relative;*/
/*    width: 100%*/
/*}*/

.tw-c-text-alt {
    color: #dedee3;
}
.tw-c-text-alt-2 {
    color: #adadb8;
}
.favorite-checkbox{
    height:14px;
    text-align: right;
}
.star {
    position: relative;
    top: 0;
    right: 0;
    font-size: 17px;
    visibility: hidden;
    cursor: pointer;
    line-height: 14px;
    width: 14px;
    height: 14px;

    margin: 0;
    color: rgba(0, 0, 0, 1);
}

.star:before {
    content: "★";
    opacity: 20%;
    position: absolute;
    visibility: visible;
}
.star:hover:before {
    color: #ffc107;
    opacity: 100%;
}

.star:checked:before {
    text-shadow: 1px 1px 0 #7a7a7a;
    opacity: 100%;
    color: #ffc107;
    content: "★";
    position: absolute;
}

.star:hover:checked:before {
    opacity: 80%;
}
