@font-face {
    font-family: Twixer-Roobert;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-Regular.woff2') format("woff2"),url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-Regular.woff') format("woff")
}

@font-face {
    font-family: Twixer-Roobert;
    font-weight: 600;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-SemiBold.woff2') format("woff2"),url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-SemiBold.woff') format("woff")
}

@font-face {
    font-family: Twixer-Roobert;
    font-weight: 700;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-Bold.woff2') format("woff2"),url('chrome-extension://__MSG_@@extension_id__/fonts/Roobert-SemiBold.woff') format("woff")
}

.info{
    border: 1px dashed #d36f00;
    padding: 23px 5px;
    color: rgb(255, 255, 255);
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 0px 1px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.mixer-status-indicator{
    background-color: #1fbaed;
}

.twitch-status-indicator{
    background-color: #e91916;
}

.twixer-status-indicator{
    border-radius: 9000px !important;
    position: relative !important;
    display: inline-block !important;
    height: 8px;
    width: 8px;
}

.streamer-card{

}

.streamer-card:hover{
    background: rgba(255,255,255,0.08);
}

/* Move Mixer page for sidebar */
[_ngcontent-c0] + .content{
    margin-left: 240px;
}

.mixer-collapsed{
    margin-left: 50px!important;
}


/* Header */

#mixer-side-nav{
    overflow: hidden;
    height: 100%;
    width: 240px;
    font-family: Twixer-Roobert,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    padding-bottom: 80px;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    background: rgb(23, 30, 42);
}

/*👇scrollbar👇*/
#mixer-side-nav {
    overflow: hidden;
    width: 234px;
    box-shadow: 6px 0px 0px 0px rgba(23,30,42,1);
}

#mixer-side-nav:hover,
#mixer-side-nav:focus {
    width: 240px;
    overflow-y: auto;
    box-shadow: none;
}

#mixer-side-nav::-webkit-scrollbar {
    width: 6px;
}

#mixer-side-nav::-webkit-scrollbar-track {
    background: rgb(23, 30, 42);
}

#mixer-side-nav::-webkit-scrollbar-thumb {
    /*background: rgba(255, 255, 255, 0.2);*/
    /*border-radius: 3em;*/
}
/*👆scrollbar👆*/

#mixer-side-nav.collapsed{
    width: 50px;
}

#mixer-side-nav .collapse-icon:hover {
    filter:drop-shadow(-5px 0px 0px rgba(1, 117, 214, 1));
    /*border:1px solid rgba(119,44,232,0.4);*/
}

.side-nav-header-mixer{
    height:43px;
}

.side-nav-header-mixer h5{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1;
    position:absolute;
    top:0;
    margin: 10px;
    padding-top: 5px;
}

.collapsed .side-nav-header-mixer h5{
    display:none;
}


#twitch-side-nav{
    height: 100%;
    width: 240px;
    font-family: Twixer-Roobert,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    /*padding-bottom: 80px;*/
    /*position: fixed;*/
    /*top: 60px;*/
    /*left: 0;*/
    /*bottom: 0;*/
    background: #1f1f23;
}

#twitch-side-nav.collapsed{
    width: 50px;
    /*   transform: translateY(-50%) rotate(-90deg) scale(0); */
    transition: all 0.1s linear;
}

.collapse-icon{
    fill: white;
}



/*twitch*/
.side-nav-header{
    margin: 5px 15px 0 10px;
    padding-top: .5rem;
}
/*twitch*/
.side-nav-header h5{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1;
}
/*---*/
#toggle-sidebar{
    width:25px;
    height:25px;
    background-color:transparent;
    padding:0;
    border:0;
    border-radius: 2px;
    position:absolute;
    top:8px;
    left:207px;
    transition: all 0.1s linear;
}

.collapsed #toggle-sidebar  {
    transform: rotate(180deg);
    left:15px;
    transition: all 0.1s linear;
}

#toggle-sidebar:hover{
    background-color: rgba(1, 117, 214, 0.2);
    /*   border:1px solid rgba(119,44,232,0.4); */
}

/* =================== */
#live-channels .tw-inline-block {
    display: inline-block!important
}

#live-channels .tw-block {
    display: block!important
}
#live-channels .tw-full-width {
    width: 100%!important
}
#live-channels .tw-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
#live-channels .tw-flex {
    display: flex!important
}
#live-channels .tw-flex-nowrap {
    flex-wrap: nowrap!important
}
#live-channels .tw-align-items-center {
    align-items: center!important
}
#live-channels .tw-justify-content-between {
    justify-content: space-between!important
}
#live-channels .tw-flex-grow-1 {
    flex-grow: 1!important
}
#live-channels .tw-flex-shrink-0 {
    flex-shrink: 0!important
}
#live-channels .tw-relative {
    position: relative!important
}
#live-channels .tw-pd-r-05 {
    padding-right: .5rem!important
}
#live-channels .tw-pd-y-05 {
    padding-bottom: .5rem!important;
    padding-top: .5rem!important
}
#live-channels .tw-pd-x-1 {
    padding-left: 10px!important;
    padding-right: 10px!important
}
#live-channels .tw-mg-l-05 {
    margin-left: .5rem!important
}

#live-channels .tw-mg-l-1 {
    margin-left: 1rem!important
}
#live-channels .tw-font-size-5 {
    font-size: 14px!important
}

#live-channels .tw-font-size-6 {
    font-size: 12px!important
}
#live-channels .tw-border-radius-rounded {
    border-radius: 100%!important;
}


#live-channels .tw-line-height-heading {
    line-height: 1.2!important
}
#live-channels .tw-semibold,#live-channels .tw-strong {
    font-weight: 600!important
}
/*#live-channels .tw-avatar {*/
/*    background-color: inherit;*/
/*    position: relative*/
/*}*/
#live-channels .tw-avatar--size-30 {
    height: 30px;
    width: 30px;
}
#live-channels .tw-image-avatar {
    width: 100%
}
/*#live-channels .tw-link {*/
/*    color: #772ce8;*/
/*    text-decoration: none*/
/*}*/
/*#live-channels .tw-link:visited {*/
/*    color: #9147ff;*/
/*}*/
/*#live-channels .tw-transition {*/
/*    transition-property: none*/
/*}*/
/*#live-channels .tw-transition--duration-medium {*/
/*    transition-duration: .25s!important*/
/*}*/
/*.root,body,html {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*    position: relative;*/
/*    width: 100%*/
/*}*/

.tw-c-text-alt {
    color: #dedee3;
}
.tw-c-text-alt-2 {
    color: #adadb8;
}
.favorite-checkbox{
    height:14px;
    text-align: right;
}

.star {
    position: relative;
    top: 0;
    right: 0;
    font-size: 18px;
    visibility: hidden;
    cursor: pointer;
    line-height: 17px;
    width: 17px;
    height: 17px;
    margin: 0;
    color: rgba(0, 0, 0, 1);
}

.star:before {
    content: "★";
    opacity: 40%;
    position: absolute;
    visibility: visible;
}
.star:hover:before {
    color: #ffc107;
    opacity: 100%;
}

.star:checked:before {
    text-shadow: 1px 1px 0 #7a7a7a;
    opacity: 100%;
    color: #ffc107;
    content: "★";
    position: absolute;
}

.star:hover:checked:before {
    opacity: 80%;
}
